repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
          exclude: config/.*
        - id: check-yaml
        - id: check-added-large-files

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
        - id: flake8
          args: ["--max-line-length", "120"]
          language_version: python3.13

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]
          language_version: python3.13

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
        - id: black
          language_version: python3.13

  - repo: https://github.com/python-poetry/poetry
    rev: 2.3.1
    hooks:
        - id: poetry-check
        - id: poetry-lock
          language_version: python3.13

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
        - id: mypy
          args:
            - "--strict"
          additional_dependencies:
            - "pydantic"
            - "pydantic-settings"
          language_version: python3.13
